{
    "jsonrpc": "2.0",
    "method": "user.login",
    "params": {
        "user": "{{ zabbix_server_front_user }}",
        "password": "{{ zabbix_server_front_pass }}"
    },
    "id": 1,
    "auth": null
}